*{  margin: 0;
    padding: 0;
    /* background-color: black; */
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/IN-en-20240603-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 664px;
    position: relative;
    
}
.main .box{
    height: 87vh;
    width: 100%;
    background-color: black;
    opacity: 0.55;
    position: absolute;
    top: 0%;
}
nav{ 
    display: flex;
    padding: 0 10px;
    align-items:end;
    margin: auto;
    max-width: 76vw;
    justify-content: space-between;
    height: 69px;
    
}
@media screen and (max-width:1278px){
    nav{
        padding-left: 32px;
        padding-right: 6rem;
        max-width: 100%;
    }
}
nav img{
    color: red;
    position: relative;
    z-index: 1;
}

nav button{
    position: relative;
    top: -12px;
    z-index: 1;
    
}
.signin{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(238, 233, 233);
    background-color: red;
    border: 1px red solid;
    border-radius: 5px;
    width: 80px;
    height: 32px;
}
.english{
    font-size: 17px;
    font-weight: 549;
    color: white;
    border: 1px rgb(170, 163, 163) solid;
    background-color: #131313;
    width: 125px;
    height: 33px;
    border-radius: 5px;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.upbut{
    display: flex;
    align-items: center;
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.hero{
    font-family: "Kanit", sans-serif;
  
    height: calc(100% - 69px);
    color: white;
    position: relative;
    z-index: 19;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    padding: 0 23px;
    text-align: center;
    flex-wrap: wrap;
    
}

.hero> :first-child{
    font-weight: 800;
  font-size: 48px;
}
.hero> :nth-child(2){
 font-weight: 350;
  font-size: 26px;
}
.hero> :nth-child(3){
 font-weight: 300;
  font-size: 19px;
}
.email{
    width: 60vw;
    height: 80px;
    /* position: absolute; */
    display: flex;
    justify-content:center;
    align-items: center;
    padding:0px;
    margin: 0;
    
   
}
.start{
    height: 55px;
    width:200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 25px;
    font-weight:500;
    color: rgb(226, 220, 220);
    background-color: rgb(206, 12, 12);
    border: 0.5px rgb(206, 12, 12) solid;
    border-radius: 4px;
    position: relative;
    top: 4px;
    
}
.emailaddress{
    margin: 2.5px;
  height: 55px;
  width:360px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  border: 1px rgb(117, 115, 115) solid;
  border-radius: 4px;
  
}
.line{
    width: 100vw;
    height: 8px;
    background-color: #333232;
    
}
@media screen and (max-width:960px){
    nav img{
        height: 24px;
        width: 89px;
        
    }
    .signin{
        width: 77px;
    }
    .english{
        font-size: 14px;
    }
    nav{
        align-items: start;
        padding-top: 1.8rem;
        padding-right: 2rem;
    }
    .hero> :first-child{
        font-weight: 500;
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-weight: 300;
         font-size: 18px;
       }
       .hero> :nth-child(3){
        font-weight: 300;
         font-size: 18px;
       }
       .hero{
        height: calc(100% - 100px);
        flex-wrap: nowrap;
       }
       .main{
            height: 65vh;
       }
       .main .box{
            height: 65vh;
       }      
}

.sec1{
    color: white;
    width: 80vw;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
    
}

.tvbanner{
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
    
}

.tvbanner> :first-child{
    font-weight: 800;
  font-size: 48px;
  line-height: 2;
}
.tvbanner> :nth-child(2){
    font-weight: 350;
  font-size: 25px;
  line-height: 1.2;
}
.tvimage{
    position: relative;
    /* z-index: 30; */

}
.tv{
    position: relative;
    z-index: 30;
}

.vid1{
position: absolute;
top: 92px;
right: 75px;
z-index: 1;

}
@media screen and (max-width:960px){
    .sec1{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-top: 50px;
    }
    .tvbanner> :first-child{
        font-weight: 500;
      font-size: 33px;
    }
    .tvbanner> :nth-child(2){
        font-weight: 500;
      font-size: 17px;
    }
}

.sec2{
    color: white;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

.mobtext{
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
    
}

.mobtext> :first-child{
    font-weight: 800;
  font-size: 48px;
  line-height: 1.2;
}
.mobtext> :nth-child(2){
    font-weight: 350;
  font-size: 25px;
  /* line-height: 1.2; */
}

.downanim{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 345px;
    left: 153px;
    z-index: 1000;
    height: 100px;
    width: 310px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(102, 100, 100);
    border-radius: 10px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

}
.downtext{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
}
.mobile{
    position: relative;
}

.downtext> :first-child{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.downtext> :nth-child(2){
    font-size: 17px;
    color: rgb(12, 87, 185);
}
@media screen and (max-width:960px){
    .sec2{
        flex-direction: column-reverse;
        height: 600px;
        text-align: center;
        padding: 50px;
    }
    .mobtext> :first-child{
        font-weight: 500;
      font-size: 33px;
    }
    .mobtext> :nth-child(2){
        font-weight: 350;
      font-size: 17px;
    }
}   

.sec3{
    color: white;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

.vid2{
    position: absolute;
    top: 52px;
    right: 75px;
    clip: rect(0px, 428px, 224px, 23px);
/* z-index: 1; */
}
@media screen and (max-width:960px){
    .sec3{
        flex-direction: column;
        height: 600px;
        text-align: center;
        padding: 50px;
        gap: 3rem;
    }
    
} 

.sec4{
    color: white;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}
@media screen and (max-width:960px){
    .sec4{
        flex-direction: column-reverse;
        height: 600px;
        text-align: center;
        padding: 50px;
        gap: 3rem;
    } 
} 

.sec5{
    color: white;
    width: 80vw;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 72vh;
    width: 80vh;
    margin-bottom: 40px;
    
}

.freq{
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 2;
}

.q1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333232;
    width: 73vw;
    height: 83px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    font-weight: 300;
    
}

.q1:hover{
    background-color: #525151;
}

.lowtxt{
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.2;

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 70vw;
    margin: auto;
    padding-bottom: 25px;
}
.links{
    display: flex;;
    flex-direction: column;
    
}
footer{
    padding-top: 70px;
    max-width: 70vw;
    margin: auto;
    color: rgb(170, 168, 168);
    line-height: 2.2;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    
}
a:link {
    
    color: rgb(170, 168, 168);
    background-color: transparent;
    
  }

  .last{
    line-height: 4;
  }
  @media screen and (max-width:960px){
    .freq{
        font-weight: 700;
        font-size: 33px;
    }
    .q1{
        font-size: 20px;
    }
} 